body{
  background-color: #468189;
}
#home-box{
  box-sizing: border-box;
  outline: none;
  background-color: #f4e9cd;
  max-width: 400px;
  border-radius: 10px;

  margin: 50px auto;
  padding: 20px;
  
}

#home-box button{
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #9dbebb;
}

.quizz {
  display: none;
  
  box-sizing: border-box;
  outline: none;
  background-color: #f4e9cd;
  max-width: 400px;
  border-radius: 10px;

  margin: 50px auto;
  padding: 20px;
}
.quizz form{
  padding: 10px;

}
